<% if(page.layout=='page'){ %>
<% if(page.source.match(/\.md$/)){ %>
<%- partial('_partial/head') %>

<body>
<div id="container">
  <div id="wrap">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="outer">
      <section id="main"><%- body %></section>
      <% if (config.sidebar !== 'bottom'){ %>
      <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/after-footer') %>
</div>
</body>
</html>
<% }else{ %>
<%- page.content %>
<% } %>
<% }else{ %>
<%- partial('_partial/head') %>
<body>
<div id="container">
  <div id="wrap">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="outer">
      <section id="main"><%- body %></section>
      <% if (config.sidebar !== 'bottom'){ %>
      <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/after-footer') %>

</div>
</body>
</html>
<% } %>


<div class="site-search">
  <div class="algolia-popup popup">
    <div class="algolia-search">
      <div class="algolia-search-input-icon">
        <i class="fa fa-search"></i>
      </div>
      <div class="algolia-search-input" id="algolia-search-input"></div>
    </div>
    <div class="algolia-results">
      <div id="algolia-stats"></div>
      <div id="algolia-hits"></div>
      <div id="algolia-pagination" class="algolia-pagination"></div>
    </div>
    <span class="popup-btn-close">
      <i class="fa fa-times-circle"></i>
    </span>
  </div>
</div>


<script>
$(document).ready(function(){
window.scrollReveal = new scrollReveal({ reset: true});
//
})
</script>
