<article   id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div data-scroll-reveal="enter top and over 0.7s"  class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner"  >
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>

      <header class="article-header">

        <%- partial('post/title', {class_name: 'article-title'}) %>

      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (config.excerpt_link){ %>
          <p class="article-more-link ">
            <a href="<%- url_for(post.path) %>#more"><i class="fa fa-coffee" style="padding-right: 2px"></i><%= config.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>

        </br>
        <span id="busuanzi_container_page_pv">
          <%=__("visitors")%><span id="busuanzi_value_page_pv"></span>
        </span>
        <%- post.content %>
      <% } %>

    </div>







    <footer class="article-footer">
      <% if (config.baidushare || config.baidushare){ %>
        <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link" data-share="baidu" data-title="<%= post.title %>"><%= __('share') %></a>
      <% } else { %>
        <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <% } %>

      <% if (post.comments && (config.gitalk)){ %>
        <a href="<%- post.permalink %>#gitalk-container" class="article-comment-link"><%= __('comments') %></a>
      <% } else if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comments') %></a>
      <% } %>

      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>



<% if (!index && post.comments && (config.duoshuo_shortname)){ %>
 <section class="comments">
    <div id="ds-thread" class="ds-thread" data-thread-key="<%= post.path %>" data-title="<%= post.title %>" data-url="<%= post.permalink %>"></div>
  </section>
 <% } else if (!index && post.comments && config.disqus_shortname){ %>
  <section class="comments">
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </section> 
<% } %>

<% if (!index && post.comments && (config.gitalk)){ %>
  <div id="gitalk-container"></div>
<% } %>


